
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Information PDF</title>
</head>
<body>
  <h3>INVOICELY Information</h3>
  <div>
    <h2>To</h2>
    <p><strong>Username:</strong> <span id="firstName"></span></p>
    <p><strong>Email:</strong> <span id="email"></span></p>
    <p><strong>Phone:</strong> <span id="phone"></span></p>
    <p><strong>City:</strong> <span id="city"></span></p>
    <p><strong>State:</strong> <span id="state"></span></p>
    <p><strong>Country:</strong> <span id="country"></span></p>
    <p><strong>ZipCode:</strong> <span id="zipCode"></span></p>
  </div>

  <div>
    <h2>From</h2>
    <p><strong>Username:</strong> <span id="firstName"></span></p>
    <p><strong>Email:</strong> <span id="email"></span></p>
    <p><strong>Phone:</strong> <span id="phone"></span></p>
    <p><strong>City:</strong> <span id="city"></span></p>
    <p><strong>State:</strong> <span id="state"></span></p>
    <p><strong>Country:</strong> <span id="country"></span></p>
    <p><strong>ZipCode:</strong> <span id="zipCode"></span></p>
  </div>
</body>
</html>

