<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information PDF</title>
  </head>
  <body>
 <div style="margin: 40px;">
  <h3>INVOICE</h3>
  <p><span id="description"></span></p>
  <div style="display: flex; justify-content: space-between; padding: 10px">
    <div style="display: flex; justify-content: space-between">
      <div style="margin-right: -10px; display: flex; flex-direction: column">
        <p><strong>From</strong></p>
        <p><span id="firstNameFrom"></span></p>
        <p><span id="address1From"></span></p>
        <div style="display: flex; align-items: center">
          <p style="margin-right: 5px"><span id="postalCodeFrom"></span></p>
          <p><span id="cityFrom"></span></p>
        </div>
        <p><span id="countryFrom"></span></p>
      </div>

      <div style="margin-left: 180px">
        <p><strong>Invoice No.:</strong> <span id="invoiceNumber"></p>
        <p><strong>Date:</strong>  <span id="date"></p>
          </div>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; padding: 10px">
    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-right: -10px;
      "
    >
      <div>
        <p><strong>To</strong></p>
        <p><span id="firstNameTo"></span></p>
        <p> <span id="address1To"></span></p>
        <div style="display: flex; align-items: center">
          <p style="margin-right: 5px"><span id="postalCodeTo"></span></p>
          <p><span id="cityTo"></span></p>
        </div>
        <p> <span id="countryTo"></span></p>

      </div>
      <div style="margin-left: 150px">
        <p><strong>Purchase Order Number:</strong>  <span id="purchaseOrderNumber"></p>
        <p><strong>Invoice Due.:</strong><span id="invoiceDueDate"> </p>
      </div>
    </div>
  </div>

  <hr />
  <div id="itemsContainer" style="display: flex; justify-content: space-between;">
    {{#each items}}
      <div >
        <p><strong>Description:</strong></p>
        <p><span>{{this.description}}</span></p>
        <p><strong>Quantity:</strong></p>
        <p><span>{{this.quantity}}</span></p>
        <p><strong>Rate:</strong></p>
        <p><span>{{this.rate}}</span></p>
        <p><strong>Amount:</strong></p>
        <p><span>{{this.amount}}</span></p>
      </div>
    {{/each}}
  
    {{#each items}}
      <div>
        <p><span>{{this.description}}</span></p>
        <p><span>{{this.quantity}}</span></p>
        <p><span>{{this.rate}}</span></p>
        <p><span>{{this.amount}}</span></p>
      </div>
    {{/each}}
  </div>
  


  <hr />

  <div
    style="display: flex; justify-content: space-between; margin-left: 200px"
  >
  <div style="text-align: left">
    <p><strong>Subtotal:</strong></p>
    <p><strong>Total:</strong></p>
    <p><strong>Paid to Date:</strong></p>
    <p style="text-align: center; background-color: gray; padding: 10px">
      Balance
    </p>
  </div>

  <div style="text-align: right">
    <p><span id="subtotal"></span></p>
    <p><span id="total"></span></p>
    <p><span id="invoiceDueDate"></span></p>
    <p><span id="balance"></span></p>
  </div>
  
  </div>
   <div>
    <p><strong>Invoice Notes</strong></p>
    <p><span id="notes"></span></p>
   </div> 
   <hr />
   <div style="display: flex; justify-content: space-between">
     <p><strong>Email:</strong>   <p><span id="email"></span></p></p>
   </div>
 
  </div>

  <div style="text-align: center;">
    <p>Click the following link: <a id="generatePdfLink" href="#" target="_blank">Generate PDF</a></p>
  </div>
  
  
  
  
  
  </div>

 </div>
  </body>
</html>

